@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 12px;
  background-color: black;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: 'Helvetica';
}

/*----------  Posiciones iniciales de las estrellas, generar forma circular  ----------*/
main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main #stars div {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 100px;
}

/*----------  Contenedor de estrellas se mueve, moviendo a todas  ----------*/
#stars {
  width: 200%;
  height: 200%;
  -webkit-animation: move 60s linear infinite reverse;
          animation: move 60s linear infinite reverse;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  position: absolute;
  left: 0px;
  top: 0px;
}

/*----------  	Primer texto de entrada con una duración de 8 segs  ----------*/
#introText {
  color: #0080ff;
  font-size: 2em;
  font-weight: 100;
  display: inline-block;
  text-align: left;
  margin-top: 15%;
  -webkit-animation: intro 8s .5s linear;
          animation: intro 8s .5s linear;
  opacity: 0;
}

/*----------  Contenedor del texto del final, con un angulo de punto de fuga  ----------*/
#contText {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(200px) rotateX(25deg);
          transform: perspective(200px) rotateX(25deg);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 200%;
  overflow: hidden;
}

/*----------  Solamente correr el texto de abajo hacia arriba usando la propiedad top  ----------*/
#introTextEnd {
  color: #f1fb1b;
  font-size: 4em;
  text-align: left;
  position: absolute;
  -webkit-animation: end 80s 12s linear forwards;
          animation: end 80s 12s linear forwards;
  top: 110%;
}

/*----------  En cuanto termina el texto aparece un fade de las estrellas  ----------*/
#starsFade {
  -webkit-animation: introStars 5s 8s linear forwards;
          animation: introStars 5s 8s linear forwards;
  opacity: 0;
}

/*----------  Una imagen SVG que no se pixelea se muestra al doble de su tamaño y se implosiona a 0  ----------*/
#logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-animation: logo 12s 8s ease-out;
          animation: logo 12s 8s ease-out;
  opacity: 0;
}

#logo img {
  width: 100%;
  height: 100%;
}

/*----------  Clases con pequeñas variaciones de tiempo para hacer estrellas más orgánicas  ----------*/
.anim1 {
  -webkit-animation: animateStar 4s linear infinite alternate;
          animation: animateStar 4s linear infinite alternate;
}

.anim2 {
  -webkit-animation: animateStar 8s linear infinite alternate;
          animation: animateStar 8s linear infinite alternate;
}

.anim3 {
  -webkit-animation: animateStar 15s linear infinite alternate;
          animation: animateStar 15s linear infinite alternate;
}

.anim4 {
  -webkit-animation: animateStar 20s linear infinite alternate;
          animation: animateStar 20s linear infinite alternate;
}

.anim5 {
  -webkit-animation: animateStar 12s linear infinite alternate;
          animation: animateStar 12s linear infinite alternate;
}

/*----------  Animaciones  ----------*/
@-webkit-keyframes end {
  0% {
    top: 110%;
  }
  100% {
    top: -300%;
  }
}
@keyframes end {
  0% {
    top: 110%;
  }
  100% {
    top: -300%;
  }
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  10% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes introStars {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes introStars {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animateStar {
  from {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes animateStar {
  from {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes move {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes move {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
