body{
	font-size: 12px;
	background-color: black;
}
*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
}
main{
	position:relative;
	width: 100%;
	height: 100%;
	#stars div{
		width:4px;
		height:4px;
		border-radius: 50%;
		background-color:rgba(255,255,255,.9);
		position: absolute;
		left: 100px;
	}
}
#stars{
	width:500%;
	height:500%;
	animation: move 100s linear infinite alternate;
}
.anim1{
	animation: animateStar 4s linear infinite alternate;
}
.anim2{
	animation: animateStar 8s linear infinite alternate;
}
.anim3{
	animation: animateStar 15s linear infinite alternate;
}
.anim4{
	animation: animateStar 20s linear infinite alternate;
}
.anim5{
	animation: animateStar 12s linear infinite alternate;
}

@keyframes animateStar{
	from { transform: scale(.2); }
	to { transform: scale(1.5); }
}
@keyframes move{
	from { transform: rotate(0deg); }
	to { transform: rotate(20deg); }
}